.dialog-container {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .dialog {
    position: relative;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;

    @media screen and (max-width: 768px) {
        width: 80%;
      }
  }
}
